html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.carousel-root {
    height: 100% !important;
}
.carousel-slider {
    height: 100% !important;
}

.axis-horizontal {
    height: 100% !important;
}

.slider {
    height: 100% !important;
}

.w-md-editor-show-live {
    height: 100% !important;
}

.w-md-editor-content {
    height: calc(100% - 29px) !important;
}

div::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    background-color: #1e1e2f;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}
div::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #1e1e2f;
}
